@import 'animations';

html {
  height: 100%;
  background-color: #bf0000;
  body {
    height: 80%;
    overflow: hidden;
  }
}

.centered {
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  top: 40%;
}

#face {
  position: relative;
  top: -188px;
  left: -188px;
}

#chin {
  position: relative;
  top: -568px;
  left: -188px;
  cursor: pointer;
}
